body {
	background-color: #A5D7F3;
	height: 5000px;
	background: linear-gradient(to right, #FDE9FA, #B6C7F2);
}

@media only screen and (max-width: 500px) {
	body {
		background-color: #DF2581;
		background: linear-gradient(to right, #270221, #FFE400);
	}
}

h1 {
	text-align: center;
	color: rgba(47,109,140,0.8);
  /*text-shadow: 3px 3px 4px rgba(255,255,255,0.1);
  text-shadow: 4px 3px 0px #A5D7F3, 8px -4px 0px rgba(0,0,0,0.2);*/
  font-size: 3em;
  text-shadow: 0px 3px 0px #A5D7F3,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);	
}

h2 {
	text-align: center;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(47,109,120,0.5) 2px 4px 2px;
}

nav {
	position: fixed;
	top	: 50%;
	margin-top: -220px;
	margin-left: -170px;
	-webkit-transition: opacity, transform 2s; /* Safari */
	transition: opacity, transform 2s; /*!указывать что именно меняем*/
	opacity: 0.5; /* Полупрозрачный фон */
}

nav ul li {
	display: block;
	width: 140px;
	height: 140px;
	border: 1px solid black;
	margin: 1px;
	background-size: 100px 100px;
	background-repeat:no-repeat;
	background-position: center; 
	background-color: #EBECEC;
	cursor:pointer;
	vertical-align: center;
	position: relative;
	z-index: 9999;
}

nav:hover {
	transform: translateX(200px); /* не стоит тут делать margin! */
	opacity: 1;
}

nav ul li[class=”vk”] {
	background-image:url(https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/256/social_facebook_box_blue.png);
}

nav ul li[class=”twitter”] {
	background-image:url(https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_twitter_button_blue.png);
}

nav ul li[class=”github”] {
	background-image:url(https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png);
}

